body, html{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: radial-gradient(circle, #ffffff, #e2a584);
}

/* Navigation */
div#navbarSupportedContent.carousel.slide.carousel-fade {
    height: 450px;
}

nav.container.navstyle.navbar{
    box-shadow: none;
    color: #bf360c; 
}
i, h3, .nav-link:hover{
    color: #bf360c!important;
}

.nav-item{
    colour: #252525;
}

/* register form styling */

img.card-img.w-30px.card-icon{
    width: 40px;
    height: 40px;
}
i{
    size: 10em;
    width: 2rem;
}
.reg-form{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    top: 20px;
    background-color: #fefefe;
    padding-bottom: 2em;
    border-radius: 10px;
}
.register-icon{
    size: 50px;
}

/* carousel sectoin styling */

.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
    transition: transform 1.2s ease;
    height: 400px;
}

.carousel-caption{
    position: absolute;
    top: 60%;
    text-transform: uppercase;
    transform: translateY(-55%);
}
.hero-info{
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.4);
}

p, h2{
    letter-spacing: 3px;
}

/* flash msgs */

.msg-flash{
    line-height: 2;
}

#btn-alert{
    animation: right_to_left 3s ease;
}

@keyframes right_to_left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0;
    }
  }

  /* employee page */

.img-icons{
    font-size: 150px;
}