body, html{
    box-sizing: border-box;
    margin: 0;
}

.text-shadow {
    color: #bf360c;
}

.nav {
    color: #bf360c;
    border: none;
}
.nav.navbar.navbar-expand{
    color: #ef69ef;
}

h5 p{
    color: #bf360c; 
}

.Navbar-Brand{
    padding-left: 3em;
}