{% extends "layout.html" %}
{% block info %}


<!------employee details----->

<div class="jumbotron jumbotron-fluid d-flex justify-content-center align-center p-5">
    <div class="row">
        <div class="col-sm-7">
            <div class="img-icons">
                <a href="{{ url_for('home') }}"><img class="welcome-img img-fluid"
                        src="{{ url_for('static', filename='icons/undraw_welcome_cats_thqn.svg')}}" alt="employee welcome"></a>
                <a href="{{ url_for('home') }}"></a>
            </div>
        </div>
        <div class="col-sm-5">
            <!-------Add employee----->
            

            <!-- Team list -->
            <div class="emp-list">

                {% if emp_all|length > 0 %}
                <ul class="col-s12 d-flex justify-content-center">
                    {% for list in emp_all %}
                        <li>
                            <div class="employeename">
                                <div>
                                    <i class="fas fa-angle-right"></i>
                                    <a class="text-warning" href="{{ url_for('team_list', emp_name=staff._id) }}"><h2 class="staff-names">{{ list.emp_name }}</h2></a>
                                </div>
                                <a class="btn btn-raised btn-md text-primary" href="{{ url_for('team_list', emp_name=emp._id) }}">Our Team</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                
               
                    <!-- Message welcoming new users -->
                <div class="row d-flex d-flex justify-content-center border-light rounded-lg">
                    <div class="row welcome-user">
                        
                        <div class="col-md-12 my-3 d-flex justify-content-center">
                            <button id="add-employee" type="submit" class="btn bmd-btn-icon mr-3">
                                <a href="{{ url_for('register') }}"><i class="fas fa-user-plus text-primary"></i></a> 
                            </button>
                            <h2>Hello, {{ employeename.capitalize() }}</h2>
                        </div>
                        <div class="col-md-12 d-flex justify-content-center">
                            <p class="pl-5 emp-p">Are you looking to register a collegue, You click button above here for 
                                better collaboration. Otherwise feel free to explore our workingspace.
                                Contact your Product owner or admin if anything. Happy Day! 
                            </p>
                        </div>
                    </div>
                </div>
               {% endif %} 
            </div>
    </div>
</div>
{% endblock %}