{% extends "layout.html" %}
{% block info %}

    <div class="container">
        {% for epic in epics %}
        <div class="row p-5 d-flex justify-content-center">
            <p class="accordion-title ">
               
                <a class="btn btn-primary border-dark shadow rounded-lg"
                    data-toggle="collapse" 
                    href="#multiCollapseExample1" 
                    role="button" 
                    aria-expanded="false" 
                    aria-controls="multiCollapseExample1">
                    <i class="fas fa-angle-down"></i> : <i class="fas fa-exclamation"></i>
                    <strong>{{ epic.category }}</strong> : Due:{{ epic.due_date }}
                {% if epic.is_urgent == "on" %}
                 
                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Popover on top
                    </button>
                {% endif %}
                </a>
                <button class="btn btn-primary" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target=".multi-collapse" 
                    aria-expanded="false" 
                    aria-controls="multiCollapseExample1 multiCollapseExample2">
                    <i class="fas fa-angle-double-down"></i>
                    All Epics
                </button>

            </p>
            <div class="row d-flex justify-content-center">
                <div class="m-5 p-2 border-0 rounded">
                    <div class="collapse multi-collapse m-0" 
                        id="multiCollapseExample1">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">User Stories</h5>
                                    <p class="card-text">{{ epic.story_description }}.</p>
                                <h5 class="card-title">Team</h5>
                                    <p>Product Owner: {{ epic.product_owner }}.</p>
                                    <p>Lead Developer: {{ epic.lead_developer }}.</p>
                                <h5 class="card-title">Due date</h5>
                                    <p>{{ epic.due_date }}.</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
            


{% endblock %}