{% extends "layout.html" %}
{% block info %}
   
    <div class="container">
        <form class="reg-form my-5" method="POST" action="{{ url_for('login') }}">
        <div class="container d-flex justify-content-center pt-5 m-2" >
            <h3 class="formTitle text-primary">
                Sign In
            </h3>
        </div>
        <div className="d-md-none bg-gray py-4 text-dark">

        </div>
        
        <div class="row d-flex d-flex justify-content-center border-light shadow rounded-lg">
          <div class="col col-lg-8 col-md-6 col-sm-6 col-xs-4 m-3">
            <!------username---->
            <div class="input-group input-group-lg pb-5 rounded-bottom">
                <div class="input-group-prepend pr-3">
                  <span class="input-group-text " id="inputGroup-sizing-md"><i class="fas fa-user"></i></span>
                </div>
                <input 
                    type="text"    
                    id="input_username" 
                    placeholder="employeename" 
                    name="employeename" 
                    class="form-control rounded-bottom" 
                    aria-label="Large" 
                    aria-describedby="inputGroup-sizing-sm"
                    minlength="5"
                    maxlength="15" 
                    pattern="^[a-zA-Z0-9]{5,15}$"
                    title="Must be a mix of more than five characters" 
                    required
                    
                />
            </div>
            <!-----pasword---->
            <div class="input-group input-group-lg pb-5">
                <div class="input-group-prepend pr-3">
                  <span class="input-group-text" id="inputGroup-sizing-md"><i class="fas fa-unlock-alt"></i></span>
                </div>
                <input 
                    type="password" 
                    id="password" placeholder="password" 
                    name="password" 
                    class="form-control" 
                    aria-label="Large"
                    minlength="5"
                    maxlength="15" 
                    pattern="^[a-zA-Z0-9]{5,15}$"
                    title="require a mix of 6 strong characters"
                    required 
                />
            </div>
            <!----register button-->
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button type="submit" class="btn btn-raised btn-primary center-align btn-lg px-3 btn-block size-md sm-size-sm"><i class="fas fa-sign-in-alt"></i>Join Us</button>
                </div>
            </div>

            <div class="row">
                <div class="col s12 d-flex justify-content-center">
                    <div class="align-center">
                        Have you registered?
                        <a href="{{ url_for('register')}}" class="text-cyan">Register here</a>
                    </div>
                </div>
            </div>

          </div>
        </div>
    </form>
    </div>
    <!----user redirected to login page---->
    

{% endblock %}