{% extends "layout.html" %}
{% block info %}


<h3 class=" container formTitle text-primary p-5 d-flex justify-content-center">
        Manage Epics
</h3>

<div class="row d-flex justify-content-center">
    
    <div class="row">
        <div class="col d-flex justify-content-center text-white">
            <span type="submit" class="btn btn-primary bg-light center-align btn-lg px-3 ml-3 size-md sm-size-sm">
                <a href="{{ url_for('add_product') }}"><i class="fas fa-folder-plus pr-5"></i>Add Epic Category</a>
            </span>
            
        </div>
    </div>
</div>


<div class="container">
    <div class="row d-flex justify-content-around ">
    <div class="col card-deck d-flex justify-content-center px-0 p-4 pl-3">
        
            {% for product in products %}
            <div class="card epic-card m-3">
                <img class="card-img-top epic-card" src="{{ url_for('static', filename='icons/favicon.jpg')}}" alt="Card image cap">
                       
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <p class="card-text">This will display data from MongoDB for relevant epic categories.</p>
                        <a href="{{ url_for('edit_product', product_id=product._id) }}" class="btn btn-primary card-link">EDIT</a>
                        <a href="{{ url_for('delete_product', product_id=product._id) }}" class="btn btn-warning card-link">DELETE</a>
                    </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
